<% provide(:title,"Help")%>
<h1>Help</h1>
<p>
    Get help on the Open Street Map at the
    <a href="https://www.openstreetmap.org">Open Street Map</a>.
    To get help on this application, see me in 
    <a href="https://en.wikipedia.org/wiki/Shizuoka_(city)">Shizuoka</a>,
    Japan.
</p>
