<footer class="footer">
  <small>
    The <a href="https://agile-wave-55617.herokuapp.com/">Mapworks</a>
    by myself
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.openstreetmap.org/">OSM</a></li>
    </ul>
  </nav>
</footer>